<div class="container">
    <div class="row">
        <div class="small-6 small-centered columns">
            <div class="sub-title"> <i class="fa fa-book fa-lg" aria-hidden="true" style="padding:0 0.5em 0 0;"></i>My Courses</div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-10 large-8 small-centered columns">
            <ul id="class-list" style="overflow: hidden">
                <li class="text-center" id="add-class">
                    <form>
                        <label> Search for Classes<br>
                            <select style="width: 80%" required
                              ng-options="option.name for option in data.availableOptions track by option._id" 
                              ng-model="data.selectedOption">
                            </select>
                        </label>
                    </form>
                    <button type="submit" value="submit" class="button" ng-click="addCourse()">Add</button>
                </li>
                <li class="row" ng-repeat="course in user.courseList">
                    <div class="small-7 columns">
                        <p><i class="fa fa-circle fa-lg" ng-class="courseColorList[course.courseid]"></i>{{course.courseName}}</p>
                    </div>
                    <div class="small-3 columns">
                        <button type="submit" value="submit" class="button" ng-click="dropCourse(course.courseid)">Drop</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-top: 4em">
        <div class="small-6 small-centered columns">
            <div class="sub-title"><i class="fa fa-clock-o fa-lg" aria-hidden="true" style="padding:0 0.5em 0 0;"></i>My Time</div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-10 large-8 small-centered columns">
                <ul id="class-time">
                    <li class="row text-center">
                        <i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i>
                        <span style="font-size:1.5em">Not Enough Data</span>
                    </li>

                </ul>
        </div>
    </div>

</div>