<div class="container">
    <div class="row">
        <ul class="small-11 medium-10 small-centered columns" id="course-info">
            <div class="c-title">Course Infomation</div>
            <i class="fa fa-edit add" ng-click="coursePanel='edit'" data-open="course-panel"></i>
            <i class="fa fa-trash-o add" ng-click="deleteCourse()"></i>
            <li class="row clear">
                <div class="small-12 medium-3 columns info-title">Course Name</div>
                <div class="small-12 medium-9 columns info">{{currentCourse.name}}</div>
            </li>
            <li class="row">
                <div class="small-12 medium-3 columns info-title">Homepage</div>
                <div class="small-12 medium-9 columns info"><a ng-href="{{currentCourse.homepage}}">{{currentCourse.homepage}}</a></div>
            </li>
            <li class="row">
                <div class="small-12 medium-3 columns info-title">Description</div>
                <div class="small-12 medium-9 columns info">{{currentCourse.description}}</div>
            </li>
        </ul>
    </div>

    <div class="row" >
        <ul class="small-11 medium-10 small-centered columns" style="min-height:8em" id="course-tasks">
            <div class="c-title">Course Tasks</div>
            <i class="fa fa-plus add" ng-click="taskPanel='add'" data-open="task-panel"></i>
            <li ng-repeat="task in currentCourse.courseTaskList">
                 <div class="row clear">
                    <div class="small-12 medium-3 columns info-title">
                        <div>MP{{$index + 1}}</div> 
                        <div><a>{{task.name}}</a></div>
                        <i class="fa fa-trash-o" ng-click="deleteTask($index)"></i>
                        <i class="fa fa-edit" ng-click="openEditTask($index)" data-open="task-panel"></i>
                    </div>
                    <div class="small-12 medium-9 columns info">
                        <div><span>Due: </span>{{task.dueDate}}
                        </div>
                        <div><span>Description: </span>{{task.description}}.
                        </div>
                        <div><i class="fa fa-chevron-right" aria-hidden="true"></i> More details</div>
                    </div>
                </div>               
            </li>
        </ul>
    </div>

    <div class="row">
        <ul class="small-11 medium-10 small-centered columns" id="work-load" style="overflow: hidden;padding-right:0">
            <div class="c-title">Work Load</div>
            <div ng-if="totalTime>0" id="piechart" style="width:120%; height: 600px;margin:0 auto"></div>
            <div ng-if="totalTime<=0" style="margin-top:5em">
              <i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i>
              <span style="font-size:1.5em">Not Enough Data</span>
            </div>
        </ul>
    </div>

</div>

