<div class="container">
    <div class="row">
        <ul class="small-11 medium-10 small-centered columns" id="course-info">
            <div class="c-title">Couse Infomation</div>
            <li class="row">
                <div class="small-12 medium-3 columns info-title">Instructor</div>
                <div class="small-12 medium-9 columns info">AAAAA BBBBBB</div>
            </li>
            <li class="row">
                <div class="small-12 medium-3 columns info-title">Homepage</div>
                <div class="small-12 medium-9 columns info">https://chara.cs.illinois.edu/sites/cs410/</div>
            </li>
            <li class="row">
                <div class="small-12 medium-3 columns info-title">Description</div>
                <div class="small-12 medium-9 columns info">Recent years have seen a dramatic growth of natural language text data, including web pages, news articles, scientific literature, emails, enterprise documents, and social media such as blog articles, forum posts, product reviews, and tweets. Text data are unique in that they are usually generated directly by humans rather than a computer system or sensors, and are thus especially valuable for discovering knowledge about people’s opinions and preferences, in addition to many other kinds of knowledge that we encode in text.</div>
            </li>
        </ul>
    </div>

    <div class="row">
        <ul class="small-11 medium-10 small-centered columns" id="course-tasks">
            <div class="c-title">Couse Tasks</div>
            <li>
                <div class="row">
                    <div class="small-12 medium-3 columns info-title">
                        <div>MP1</div> 
                        <div><a>Getting Familiar with Text</a></div>
                    </div>
                    <div class="small-12 medium-9 columns info">
                        <div><span>Due: </span>21 April 2016 at 8:00pm CT.
                        </div>
                        <div><span>Description: </span>This assignment explores text categorization with MeTA.
                        </div>
                        <div><i class="fa fa-chevron-right" aria-hidden="true"></i> More details</div>
                    </div>
                </div>               
            </li>
            <li>
                <div class="row">
                    <div class="small-12 medium-3 columns info-title">
                        <div>MP2</div> 
                        <div><a>Search Engines</a></div>
                    </div>
                    <div class="small-12 medium-9 columns info">
                        <div><span>Due: </span>21 April 2016 at 8:00pm CT.
                        </div>
                        <div><span>Description: </span>This assignment explores text categorization with MeTA.
                        </div>
                        <div><i class="fa fa-chevron-right" aria-hidden="true"></i> More details</div>
                    </div>
                </div>               
            </li>
            <li>
                <div class="row">
                    <div class="small-12 medium-3 columns info-title">
                        <div>MP3</div>
                        <div><a>MapReduce and MongoDB</a></div>
                    </div>
                    <div class="small-12 medium-9 columns info">
                        <div><span>Due: </span>21 April 2016 at 8:00pm CT.
                        </div>
                        <div><span>Description: </span>This assignment explores text categorization with MeTA.
                        </div>
                        <div><i class="fa fa-chevron-right" aria-hidden="true"></i> More details</div>
                    </div>
                </div>               
            </li>
        </ul>
    </div>

    <div class="row">
        <ul class="small-11 medium-10 small-centered columns" id="work-load" style="overflow: hidden;padding-right:0">
            <div class="c-title">Work Load</div>
            <div id="piechart" style="width:120%; height: 600px;margin:0 auto"></div>
        </ul>
    </div>

</div>