<div class="container">
    <div class="row">
        <div class="small-12 large-6 columns text-center" id="news">
            <div class="sub-title"> NEW RELEASED </div>
            <ul style="padding:2em">
              <li ng-repeat="task in courseTasks | orderBy: 'releaseDate':true">
                <a href="#details/{{task.courseid}}/detail" ng-if="task.dueDate > now" ng-class="courseColorList[task.courseid]">{{task.courseName.split(" ")[0] + " " + task.name}}</a>
                <div class="task-info row text-left" ng-if="task.dueDate > now">
                    <div class="small-6 columns"><span>Due: </span>{{task.dueDate.substring(5, 10) + " " + task.dueDate.substring(11, 16)}}</div>
                    <div class="small-6 columns"><span>Release: </span>{{task.releaseDate.substring(5, 10) + " " + task.releaseDate.substring(11, 16)}}</div>
                    <div class="small-12 columns"><span>Description: </span>{{task.description}}</div>
                </div>
              </li>
            </ul>
        </div>
        <div class="small-12 large-6 columns text-center" id="upcoming">
            <div class="sub-title"> UPCOMMING<!--i class="fa fa-plus add" data-open="add-task"></i--></div>
            <div class="clear"><!-- --></div>
            <ul style="padding: 2em">
                <li ng-repeat="duesPerDay in upcommingDuesArr | orderBy: 'date':false">
                    <a class="date" ng-if="duesPerDay.dues[0].dueDate > now">{{duesPerDay.date}}</a>
                    <ul class="text-left" ng-if="duesPerDay.dues[0].dueDate > now">
                        <li class="row" ng-repeat="due in duesPerDay.dues">
                            <span class="small-3 columns">{{due.dueDate.substring(11, 19)}} </span>
                            <div class="small-1 columns">
                                <i class="fa fa-circle fa-lg" ng-class="courseColorList[due.courseid]"></i>
                            </div>
                            <div class="small-7 medium-8 columns">
                                {{due.courseName + " " + due.name}} due
                            </div>
                        </li>
                        <!--li> <span> 20:00pm </span> <i class="fa fa-circle fa-lg" ></i>CS511 MP2 due</li-->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <calendar class="small-12 columns" selected="day"></calendar>
        <div class="small-12 text-center">Selected date: <b>{{selected.format('dddd, MMMM Do YYYY')}}</b></div>
    </div>
</div>

<div class="reveal" id="add-task" data-reveal>
    <div class="modal-title"><i class="fa fa-calendar-plus-o fa-2x" aria-hidden="true"></i>Add Your Own Task</div>

    <div>
      <form data-abide novalidate name="ptaskFrom">
        <div class="row" style="height: 21em;">
            <div class="small-8 small-centered columns">
              <label> Choose Course <span class="required">*</span>
                <select required
                  ng-options="option.courseName for option in data.availableOptions track by option.courseid"
                  ng-model="data.selectedOption">
                </select>
              </label>
              <label> Name <span class="required">*</span>
                <input ng-model="name" type="text" required>
              </label>
              <label> Description
                <input ng-model="description" type="text">
              </label>
              <label> Deadline <span class="required">*</span>
                  <input ng-model="deadline" type="datetime-local" required>
              </label>
            </div>
        </div>

        <div class="row text-center" style="margin-bottom: 2em;">
          <div class="small-8 small-centered columns">
            <button type="submit" value="submit" class="button" ng-click="addPTask(ptaskFrom.$valid)">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="reveal" id="day-detail" data-reveal>
    <div class="modal-title"><i class="fa fa-list-ul fa-2x" aria-hidden="true"></i> Details of the Day</div>

    <div class="row text-center">
        <ul class="small-11 large-8 small-centered">
            <li>
                <div class="date" >{{selected.format('dddd, MMMM Do YYYY')}}</div>
                <ul class="text-left">
                    <li class="row" ng-repeat="due in upcommingDuesDic[selected.format().substring(0, 10)]">
                        <span class="small-1 columns">{{due.dueDate.substring(11, 19)}} </span>
                        <div class="small-1 columns">
                            <i class="fa fa-circle fa-lg" ng-class="courseColorList[due.courseid]"></i>
                        </div>
                        <div class="small-7 large-8 columns">
                            <div><a href="#details/{{due.courseid}}/detail">{{due.courseName}}</a></div>
                            <div>Assginment: {{due.name}}</div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <p> Laziness pays off now. Hard work pays off in the future </p>
    </div>   

</div>

