<div id="introduction" class="text-center">
    <h1 id="logo"> COURSE HELPER </h1>
    <div id="slogan" ng-show="showPanel=='slogan'">
        <h2>Manage Your Time</h2>
        <h2>Never Miss a Deadline</h2>
        <div class="row">
            <div class="small-12 medium-6 columns">
                <button type="button" class="button" id="signup" ng-click="showSignup()">Sign Up <i class="fa fa-angle-double-right" aria-hidden="true"></i> </button>
            </div>
            <div class="small-12 medium-6 columns">
                <button type="button" class="button" id="login" ng-click="showLogin()">Log In <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div id="login-form" ng-show="showPanel=='login'">
        <form data-abide novalidate name="loginFrom">
            <div class="row text-left">
                <div class="small-11 medium-8 large-5 small-centered columns">
                  <div style="margin: 1em 0;">
                    <span class="back" ng-click="showSlogan()">
                        <i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i>
                    </span>
                    <input type="radio", ng-model="role", ng-value="true" id="student"> <label for="student">Student</label>
                    <input type="radio", ng-model="role", ng-value="false" id="instructor" class="ins"> <label for="instructor">Instructor</label>
                  </div>
                  <label> Email
                    <input ng-model="email" type="text" required>
                    <span class="form-error">
                      I'm required!
                    </span>
                  </label>
                  <label> Password
                      <input ng-model="password" type="password" required>
                      <span class="form-error">
                        I'm required!
                      </span>
                  </label>
                </div>
            </div>

            <div class="row text-center" style="margin-bottom: 2em;">
              <div class="small-6 small-centered columns">
                <button type="submit" value="submit" class="button" ng-click="login(loginFrom.$valid)">Sign In</button>
              </div>
            </div>
        </form>
    </div>
    <div id="signup-form" ng-show="showPanel=='signup'">
        <form data-abide novalidate name="signupFrom">
            <div class="row text-left">
                <div class="small-11 medium-8 large-5 small-centered columns">
                  <div style="margin: 1em 0;">
                    <span class="back" ng-click="showSlogan()">
                        <i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i>
                    </span>
                    <input type="radio", ng-model="role", ng-value="true" id="student"> <label for="student">Student</label>
                    <input type="radio", ng-model="role", ng-value="false" id="instructor" class="ins"> <label for="instructor">Course</label>
                  </div>
                  <label> Email
                    <input ng-model="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                    <span class="form-error">
                      I'm required!
                    </span>
                  </label>
                  <label ng-show="role == false"> Serial
                    <input ng-model="serial" type="text" required>
                    <span class="form-error">
                      I'm required!
                    </span>
                  </label>
                  <label> Name
                    <input ng-model="name" type="text" required>
                    <span class="form-error">
                      I'm required!
                    </span>
                  </label>
                  <label> Password
                      <input ng-model="password" type="password" required>
                      <span class="form-error">
                      I'm required!
                    </span>
                  </label>
                </div>
            </div>

            <div class="row text-center" style="margin-bottom: 2em;">
              <div class="small-6 small-centered columns">
                <button type="submit" value="submit" class="button" ng-click="addUser(signupFrom.$valid)">Sign Up</button>
              </div>
            </div>
        </form>
    </div>
</div>
<div class="row text-center" id="features">
    <div class="small-12 medium-4 columns" style="border: 0">
        <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i><br>
        <p class="benifit">Stay Informed</p>
        <p class="function">Receive notification of new assignments in a timely manner</p>
    </div>
    <div class="small-12 medium-4 columns">
        <i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"></i><br>
        <p class="benifit">Keep Organized</p>
        <p class="function">Generate personal calendar of dues and todos for every assignment</p>
    </div>
    <div class="small-12 medium-4 columns">
        <i class="fa fa-pie-chart fa-3x" aria-hidden="true"></i><br>
        <p class="benifit">Be Accurate</p>
        <p class="function">Produce statistics of work load for students and instructors</p>
    </div>
</div>
<footer>
    <div>
      <i class="fa fa-facebook-official fa-3x"></i>
      <i class="fa fa-twitter-square fa-3x"></i>
      <i class="fa fa-linkedin-square fa-3x"></i>
      <i class="fa fa-google-plus-square fa-3x"></i>

    </div>
    <div>
      Copyright © BEST team
    </div>              
</footer>


