<div class="sub-title">
    <i class="fa fa-chevron-circle-left fa-lg" ng-click="previous()"></i>
    <span>Schedule in {{days[0].date.format("MMMM DD")}} - {{days[days.length-1].date.format("MMMM DD, YYYY")}}</span>
    <i class="fa fa-chevron-circle-right fa-lg" ng-click="next()"></i>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="small-1 columns time-span">
            <ul>
                <p>Manage your time</p>
            </ul>
        </div>
        <div class="small-11 columns" style="padding-left: 2em">
            <div class="row">
                <div class="small-1 columns sub-title weekday">Sun</div>
                <div class="small-1 columns sub-title weekday">Mon</div>
                <div class="small-1 columns sub-title weekday">Tue</div>
                <div class="small-1 columns sub-title weekday">Wed</div>
                <div class="small-1 columns sub-title weekday">Thu</div>
                <div class="small-1 columns sub-title weekday">Fri</div>
                <div class="small-1 columns sub-title weekday" style="margin-right: 0">Sat</div>
            </div>
            <div class="row text-center">
                <div class="small-1 columns oneday" ng-repeat="day in days">
                    {{day.date.format().substring(5, 10)}}
                    <ul ng-if="upcommingDuesDic.hasOwnProperty(day.date.format().substring(0, 10))" class="text-left" style="padding:3px;">
                        <li style="font-weight:800; color:#205867">Dues:</li>
                        <li ng-repeat="due in upcommingDuesDic[day.date.format().substring(0, 10)]" ng-class="courseColorList[due.courseid]" style="background:#b7dde8">{{due.courseName.split(" ")[0] + " " + due.name}} Due!</li>
                    </ul>
                    <ul ng-if="todoDic.hasOwnProperty(day.date.format().substring(0, 10))" class="text-left" style="padding:3px;">
                        <li style="font-weight:800; color:#205867">Todos: </li>
                        <li ng-repeat="todo in todoDic[day.date.format().substring(0, 10)]" style="background:#EAEAEA">
                            <div ng-class="courseColorList[todo.courseid]">{{todo.taskName}}</div>
                            <div>{{todo.description}}</div>
                            <div>Start:{{todo.start.substring(11,16)}}</div>
                            <div>End:{{todo.end.substring(11, 16)}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!--div ng-repeat="week in weeks">
    <div class="small-1 columns everyday" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</div-->
</div>